* {
  box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 1;
}

a {
	text-decoration: none;
	color: inherit;
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 1;
}
ul{
	list-style: none;
}
h2{
	position: relative;
}
h2:before{
	content: '';
	width: 16px;
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: #eec643;
	top: -3px;
	left: 0;

}

h2:after{
	content: '';
	width: 16px;
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: #eec643;
	bottom: -2px;
	left: 0;
	font-weight: 700;
}


.body{
	margin: auto;
}	

.btn-wrapper {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;
}
.btn-wrapper:hover {
  /*background: #eee;*/
}

.btn-burger {
  background: #fff;
  /*border: 1px solid #fff;*/
  /*border-radius: 4px;*/
  bottom: 0;
  font-size: 2px;
  height: 2px;
  left: 0;
  margin: auto 4px;
  position: absolute;
  right: 0;
  text-indent: -9999999px;
  top: 0;
  transition: .2s all;
}
.btn-burger::before, .btn-burger::after {
  background: #fff;
  /*border-radius: 4px;*/
  content: '';
  height: 2px;
  left: -1px;
  margin: auto;
  position: absolute;
  transition: all .2s 0s;
  width: calc(100% + 2px);
}
.btn-burger::before {
  top: -8px;
}
.btn-burger::after {
  bottom: -8px;
}
.btn-burger[data-state="on"] {
  background: transparent;
  /*border-color: #fff;*/
  height: 100%;
  margin: auto;
}
.btn-burger[data-state="on"]::before, .btn-burger[data-state="on"]::after {
  transition: all .2s .4s;
}
.btn-burger[data-state="on"]::after {
  bottom: 0;
  top: 0;
  transform: rotate(45deg);
}
.btn-burger[data-state="on"]::before {
  bottom: 0;
  top: 0;
  transform: rotate(-45deg);
}


/*.wrapper{
	min-width: 1170px;
	max-width: 100%;
	margin: auto;
}*/
.container {
	min-width: 320px;
	max-width: 1170px;
	margin: auto;
	padding: 0 15px;
}

.title{
	font-family: 'Prata';
	font-size: 30px;
	font-weight: 400;
	color: #eec643;
}


.logo{
	padding: 24px 0px 44px 16px;
}	
.logotip{
	font-family: 'Prata';
	font-size: 30px;
	width: 65px;
	left: 24px;
	font-weight: 400;
	color: #eec643;
}


						/*MOBILE*/

/*PROMO*/
@media (max-width: 1199px) {
	.container {
		padding-left: 16px;
		padding-right: 16px;

}
h3.title
{
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 1;
	color: #f9fcfc;
	margin: 3px;
}
.text{
	font-family: 'pt-sans';
	font-size: 16px;
	font-weight: 400;
	color: #f9fcfc;
	padding-bottom: 5px;
	margin: 3px;
}
.button{
	box-sizing: border-box;
	width: 288px;
	height: 60px;
	background-color: #eec643;
	text-align: center;
	padding: 22px;
}
.promo{
	background-image: url(../images/bg_main_320.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 536px;
	margin: auto;
}


.mobile-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.main-nav{
	display: none;
	background-color: #fff;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.main-nav__list {
}
.main-nav__item {
	text-transform: uppercase;
}

.promo__title{
	font-size: 32px;
	color: #fff;
	padding: 44px 73px 20px 16px;
	width: 231px;
	height: 119px;
	line-height: 42px;
}
.title_span{
	display: none;
}

.promo__text{
	color: #fff;
	padding: 39px 0px 95px 16px;
}

.promo_button{
	margin: -17px 4px;
}

.type__title,.type__text{
	display: none;
}



/*DIRECTIONS*/

.main__title{
	width: 183px;
	font-size: 30px;
	color: #021a23;
}
.element{
	text-align: left;
	padding:33px 38px 0px 3px;
}
.item__vocal{
	width: 288px;
	height: 144px;
	background-image: url(../images/directions_card_img_2_320.jpg);
	margin-bottom: 16px;
}
.item__gitar{
	width: 288px;
	height: 144px;
	background-image: url(../images/directions_card_img_1_320.jpg);
}
.item__foptepiano{
	width: 212px;
	height: 144px;
	background-image: url(../images/directions_card_img_320.jpg);
	margin-right: 9px;
}

.block__buttom__directions{
	display: flex;
	padding: 16px 1px;
}

.button__right{
	flex-wrap: wrap;
	width: 60px;
	height: 144px;
	box-sizing: border-box;
	background-color: #eec643;
	margin: auto;

}
.link{
	color: #021a23;
	font-weight: 400;
	transform: rotate(-90deg);
	position: absolute;
	margin: 66px -33px;
}


/*ADVANTAGES*/
.main__title__advantages{
	width: 196px;
	font-size: 30px;
	color: #021a23;
}

.item__composition{
	width: 288px;
	height: 144px;
	background-image: url(../images/advantages_card_img_1_320.jpg);
	margin-bottom: 16px;
}
.item__result{
	width: 288px;
	height: 144px;
	background-image: url(../images/advantages_card_img_2_320.jpg);
}
.item__studio{
	width: 212px;
	height: 144px;
	background-image: url(../images/advantages_card_img_3_320.jpg);
	margin: 16px 9px 17px 1px;
}

.block__buttom__advantages{
	display: flex;
}
.link_advantages{
	color: #fff;
	margin: 74px -8px;
}


/*VIDEO*/

.box__left{
	width: 240px;
	height: 186px;
	margin: 20px;
	background-image: url(../images/video_card_img_1_320.jpg);
}
.content{
	margin: auto;
	width: 215px;
}

.arrow___video:before{
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	border-top: 1px solid #eec643;
	border-right: 1px solid #eec643;
	transform: rotate(227deg);
	margin-top: 75px;
}
.arrow___video:after{
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	border-top: 1px solid #eec643;
	border-right: 1px solid #eec643;
	transform: rotate(45deg);
	margin:75px 0px 0px 260px;
}

.btm{
	margin: 0;
	padding: 28px 29px 26px 109px;
}


/*CONTACTS*/

.address{
	color: black;
}

.tel{
	color: black;
}

.map{
margin: 16px 0px 16px 0px;
}

.aside{
	padding-left: 15px;
}

/*FOOTER*/
.logotip_footer{
	display: block;
}

.footer_menu{
	display: block;
}





}

								/*DESKTOP*/


								

@media (min-width:1200px) {

	body {
	  	margin: 0 auto;
	}
.promo.wrapper{
 background-repeat: no-repeat;
	 background-size: cover;
	 width: 100%;
	height: 768px;
	background-image: url(../images/bg_main.jpg);
}

.promo_button,.btn-burger,.promo__title {
display: none;
}

.title_span{
	font-family: 'Prata';
	color: #fff;
	font-size: 55px;
	font-weight: 400;
	line-height: 55px;

}

.block{
	width: 697px;
	margin: 146px 10px;
}

.promo__text{
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	width: 425px;
	height: 47px;
	font-size: 18px;
	line-height: 28px;
}

.span--promo{
	display: none;
}


ul{
	list-style: 0;
	display: flex;
justify-content: flex-end;
	flex: 0.5px;
	padding-left:500px;
}

.main-nav__item{
	color: #021a23;
	font-size: 16px;
	font-weight: 400px;
	text-transform: uppercase;
	margin:-87px -23px 0px 55px;
}
.name-type{
	width: 270px;
	height: 350px;
	border: 2px solid #021a23;
	background-color: #fff;
	opacity: 0.8;
	margin: -236px 881px;
	box-shadow:0px 70px 0px 0px #000;
}

.type__title{
	font-size: 30px;
	font-weight: 700;
	color: #000;
	line-height: 40px;
	margin: 30px 25px;
}
.type__text{
	font-size: 20px;
	font-weight: 400;
	color: #000;
	line-height: 28px;
	margin: 11px 10px 61px 32px;

}

.type__button{
	margin: 86px 90px;
}
.name-type__link{
	font-size: 20px;
	color: #fff;
}

.item___type{
	margin: auto;
}

.main__title{
	transform: rotate(-90deg);
	width: 540px;
	color: #000;
	margin: 352px -48px;
	font-size: 50px;
}
.main__directions{
	width: 1170px;
	height: 568px;
	margin: 89px;
}
.block__top__directions{
	display: flex;
}
.item__gitar{
	width: 470px;
	height: 269px;
	background-image: url(../images/directions_card_img_1.jpg);
	margin: -668px -920px;
}

.item__foptepiano{
	width: 470px;
	height: 269px;
	background-image: url(../images/directions_card_img_3.jpg);
	margin:-368px 0px 0px -919px;
}
.item__vocal{
	width: 570px;
	height: 269px;
	background-image: url(../images/directions_card_img_2.jpg);
	margin: -668px -147px 0px 787px;
}
.item__lection{
	width: 270px;
	height: 269px;
	background-image: url(../images/directions_card_img_4.jpg);
	margin: 31px 0px 0px 788px;
}

h3.title
{
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	color: #f9fcfc;
	margin: 3px;
}
.text{
	display: none;
}
.desc{
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #f9fcfc;
	line-height: 28px;
	width: 240px;
	margin: 1px;
}
.text__gitar{
	margin: 7px 2px;
}
.text__gitar___lesson{
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #f9fcfc;
	margin: 29px 3px;
}
.element{
	padding: 16px 26px;
}
.button{
	box-sizing: border-box;
	width: 270px;
	height: 269px;
	background-color: #eec643;
	text-align: center;
	margin: -371px 0px 0px 1087px;
	padding: 22px 204px 0px 12px;
}
.link__direction{
	display: none;
}

.main__advantages{
	width: 1170px;
	height: 568px;
	margin: 89px;
}
.main__title__advantages{
	font-size: 50px;
	color: #000;
	margin: -257px 0px -6px 186px;
	width: 570px;
}
.item__composition{
	width: 270px;
	height: 468px;
	background-image: url(../images/advantages_card_img_1.jpg);
	background-repeat: no-repeat;
	margin: 30px 0px 0px 188px;
}

.item__result{
	width: 270px;
	height: 468px;
	background-image: url(../images/advantages_card_img_2.jpg);
	background-repeat: no-repeat;
	margin: -468px 0px 0px 488px;
}
.item__studio{
	width: 270px;
	height: 568px;
	background-image: url(../images/advantages_card_img_3.jpg);
	background-repeat: no-repeat;
	margin: -566px 100px 100px 788px;
}

.name-type___advantages{
	width: 270px;
	height: 497px;
	border: 2px solid #eec643;
	background-color: #fff;
	margin:-684px 0px 0px 1084px;
	box-shadow:0px 70px 0px 0px #eec643;
}
.title--advantages{
	color: #eec643;
}
.type__button--advantages{
	padding: 238px 10px 10px 90px;
}
.name-type__link--advantages{
	color: #fff;
}


}


























/*
@media (min-width: 1160px) {*/
	/*menu*/
/*.menu {
	display: block;
	background-color: transparent;
	width: auto;
	position: static;
	color: #fff;	
}
.menu__list {
	display: flex;
}
.menu__item {
}
.menu__item a {
	text-transform: uppercase;
}
}*/
